.container{
    position: relative;

}
.clock{
    font-weight: 200;
    font-size: 150px;
    margin: 0;
    line-height: 1;
}

.add{
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    background: transparent;
}
.add:hover circle {
    fill: #899441;
}
.rest{
    color: #A8B64F;
}

.work{
    color: #DD492F;
}

.pause{
    color: #333333;
}