.container{
    display: flex;
    flex-direction: column;
    background: #F4F4F4;
    color: #333;
    padding: 25px;
}

.title{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 15px 0;
}

.text{
    line-height: 28px;
    margin: 0;
}

.time{
    font-weight: 700;
    color: #DC3E22;
}