.container{
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    max-width: 33vw;
}
.title{
    margin: 3px;
}
.ins{
    margin: 0;
    padding-left: 23px;
    font-weight: 300;
}
.ins>li::marker{
    color: #B7280F;
}